<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Counter</title>
  </head>
  <body>
      <div>
            <h1 class="h1">Counter</h1>
            <h5 class="h5">you visit the page {{session["count"]}} times</h5>
            <form action="/count" method="post">
                <button type="submit" class="btn btn-outline-primary" name="numrim" value="add">add 2 visits</button>
                <button type="submit" class="btn btn-outline-danger"name="numrim" value="reset">reset Counter</button>
            </form>
      </div>
    


  </body>
</html>